In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("rent-data.csv")

In [7]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31
0,102001,0,United States,country,NaN,1204.964064,1211.523337,1220.539083,1229.631503,1238.971442,...,1974.484122,1984.038303,1988.713282,1989.992642,1986.229219,1983.095297,1979.579221,1984.061547,1992.382332,2005.108941
1,394913,1,"New York, NY",msa,NY,2274.903988,2289.780685,2308.292159,2328.700819,2343.991452,...,3270.656162,3288.406598,3293.793228,3283.167886,3268.389133,3256.816076,3250.841738,3261.024948,3281.796807,3313.331883
2,753899,2,"Los Angeles, CA",msa,CA,1807.141280,1819.683413,1836.319303,1850.460938,1864.975841,...,2917.827829,2932.130095,2938.162398,2942.386297,2939.386912,2935.736684,2928.205711,2950.268103,2972.333872,2997.269136
3,394463,3,"Chicago, IL",msa,IL,1429.049735,1435.936653,1445.858633,1455.233797,1465.724849,...,2080.783276,2090.849551,2094.402214,2092.927997,2091.194710,2092.516081,2096.305554,2103.605019,2119.863071,2138.626729
4,394514,4,"Dallas, TX",msa,TX,1109.399485,1114.367197,1122.200307,1134.267945,1144.231583,...,1774.230617,1781.419709,1784.736695,1781.088672,1773.851017,1765.211269,1758.119108,1756.314712,1762.101968,1773.313924

In [9]:
df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31',
       ...
       '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31',
       '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28', '2025-03-31'],
      dtype='object', length=128)

In [11]:
df.shape

(649, 128)

In [13]:
df.iloc[0]

RegionID             102001
SizeRank                  0
RegionName    United States
RegionType          country
StateName               NaN
                  ...
2024-11-30      1983.095297
2024-12-31      1979.579221
2025-01-31      1984.061547
2025-02-28      1992.382332
2025-03-31      2005.108941
Name: 0, Length: 128, dtype: object

In [17]:
df_long = df.melt( 
    id_vars =["RegionID", "SizeRank", "RegionName", "RegionType", "StateName"],
    var_name="Date",
    value_name="Rent"
)

In [19]:
df_long.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,Date,Rent
0,102001,0,United States,country,NaN,2015-01-31,1204.964064
1,394913,1,"New York, NY",msa,NY,2015-01-31,2274.903988
2,753899,2,"Los Angeles, CA",msa,CA,2015-01-31,1807.141280
3,394463,3,"Chicago, IL",msa,IL,2015-01-31,1429.049735
4,394514,4,"Dallas, TX",msa,TX,2015-01-31,1109.399485

In [21]:
df_long.isnull().sum()

RegionID          0
SizeRank          0
RegionName        0
RegionType        0
StateName       123
Date              0
Rent          37576
dtype: int64

In [23]:
df_long["Date"] = pd.to_datetime(df_long["Date"])

In [25]:
df_long.dtypes

RegionID               int64
SizeRank               int64
RegionName            object
RegionType            object
StateName             object
Date          datetime64[ns]
Rent                 float64
dtype: object

In [27]:
df_long[df_long["StateName"].isnull()].head()

,RegionID,SizeRank,RegionName,RegionType,StateName,Date,Rent
0,102001,0,United States,country,NaN,2015-01-31,1204.964064
649,102001,0,United States,country,NaN,2015-02-28,1211.523337
1298,102001,0,United States,country,NaN,2015-03-31,1220.539083
1947,102001,0,United States,country,NaN,2015-04-30,1229.631503
2596,102001,0,United States,country,NaN,2015-05-31,1238.971442

In [29]:
df_long[df_long["Rent"].isnull()].sample(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,Date,Rent
41106,394872,222,"Monroe, LA",msa,LA,2020-04-30,NaN
31013,394432,553,"Calhoun, GA",msa,GA,2018-12-31,NaN
30940,394541,450,"DuBois, PA",msa,PA,2018-12-31,NaN
1142,394693,528,"Hudson, NY",msa,NY,2015-02-28,NaN
25913,394745,744,"Kill Devil Hills, NC",msa,NC,2018-04-30,NaN

In [33]:
df_long["RegionName"].unique()

array(['United States', 'New York, NY', 'Los Angeles, CA', 'Chicago, IL',
       'Dallas, TX', 'Houston, TX', 'Washington, DC', 'Philadelphia, PA',
       'Miami, FL', 'Atlanta, GA', 'Boston, MA', 'Phoenix, AZ',
       'San Francisco, CA', 'Riverside, CA', 'Detroit, MI', 'Seattle, WA',
       'Minneapolis, MN', 'San Diego, CA', 'Tampa, FL', 'Denver, CO',
       'Baltimore, MD', 'St. Louis, MO', 'Orlando, FL', 'Charlotte, NC',
       'San Antonio, TX', 'Portland, OR', 'Sacramento, CA',
       'Pittsburgh, PA', 'Cincinnati, OH', 'Austin, TX', 'Las Vegas, NV',
       'Kansas City, MO', 'Columbus, OH', 'Indianapolis, IN',
       'Cleveland, OH', 'San Jose, CA', 'Nashville, TN',
       'Virginia Beach, VA', 'Providence, RI', 'Jacksonville, FL',
       'Milwaukee, WI', 'Oklahoma City, OK', 'Raleigh, NC', 'Memphis, TN',
       'Richmond, VA', 'Louisville, KY', 'New Orleans, LA',
       'Salt Lake City, UT', 'Hartford, CT', 'Buffalo, NY',
       'Birmingham, AL', 'Rochester, NY', 'Grand Rapids, MI',
       'Tucson, AZ', 'Urban Honolulu, HI', 'Tulsa, OK', 'Fresno, CA',
       'Worcester, MA', 'Omaha, NE', 'Bridgeport, CT', 'Greenville, SC',
       'Albuquerque, NM', 'Bakersfield, CA', 'Albany, NY',
       'Knoxville, TN', 'Baton Rouge, LA', 'McAllen, TX', 'New Haven, CT',
       'El Paso, TX', 'Allentown, PA', 'Oxnard, CA', 'Columbia, SC',
       'North Port, FL', 'Dayton, OH', 'Charleston, SC', 'Greensboro, NC',
       'Stockton, CA', 'Cape Coral, FL', 'Boise City, ID',
       'Colorado Springs, CO', 'Little Rock, AR', 'Lakeland, FL',
       'Akron, OH', 'Des Moines, IA', 'Springfield, MA',
       'Poughkeepsie, NY', 'Ogden, UT', 'Madison, WI', 'Winston, NC',
       'Deltona, FL', 'Syracuse, NY', 'Provo, UT', 'Toledo, OH',
       'Wichita, KS', 'Durham, NC', 'Augusta, GA', 'Palm Bay, FL',
       'Jackson, MS', 'Harrisburg, PA', 'Spokane, WA', 'Scranton, PA',
       'Chattanooga, TN', 'Modesto, CA', 'Lancaster, PA', 'Portland, ME',
       'Youngstown, OH', 'Lansing, MI', 'Fayetteville, AR',
       'Fayetteville, NC', 'Lexington, KY', 'Pensacola, FL',
       'Santa Rosa, CA', 'Reno, NV', 'Huntsville, AL',
       'Port St. Lucie, FL', 'Lafayette, LA', 'Myrtle Beach, SC',
       'Springfield, MO', 'Visalia, CA', 'Killeen, TX', 'Asheville, NC',
       'York, PA', 'Vallejo, CA', 'Santa Maria, CA', 'Salinas, CA',
       'Salem, OR', 'Mobile, AL', 'Reading, PA', 'Corpus Christi, TX',
       'Brownsville, TX', 'Manchester, NH', 'Fort Wayne, IN',
       'Gulfport, MS', 'Salisbury, MD', 'Flint, MI', 'Peoria, IL',
       'Canton, OH', 'Savannah, GA', 'Anchorage, AK', 'Beaumont, TX',
       'Shreveport, LA', 'Trenton, NJ', 'Montgomery, AL', 'Davenport, IA',
       'Tallahassee, FL', 'Eugene, OR', 'Naples, FL', 'Ann Arbor, MI',
       'Ocala, FL', 'Hickory, NC', 'Huntington, WV', 'Fort Collins, CO',
       'Rockford, IL', 'Lincoln, NE', 'Gainesville, FL', 'Boulder, CO',
       'Green Bay, WI', 'Columbus, GA', 'South Bend, IN',
       'Spartanburg, SC', 'Greeley, CO', 'Lubbock, TX', 'Clarksville, TN',
       'Roanoke, VA', 'Evansville, IN', 'Kingsport, TN', 'Kennewick, WA',
       'Utica, NY', 'Hagerstown, MD', 'Duluth, MN', 'Olympia, WA',
       'Longview, TX', 'Wilmington, NC', 'San Luis Obispo, CA',
       'Crestview, FL', 'Merced, CA', 'Waco, TX', 'Cedar Rapids, IA',
       'Atlantic City, NJ', 'Bremerton, WA', 'Sioux Falls, SD',
       'Santa Cruz, CA', 'Erie, PA', 'Norwich, CT', 'Amarillo, TX',
       'Laredo, TX', 'Tuscaloosa, AL', 'College Station, TX',
       'Kalamazoo, MI', 'Lynchburg, VA', 'Charleston, WV', 'Yakima, WA',
       'Fargo, ND', 'Binghamton, NY', 'Fort Smith, AR', 'Appleton, WI',
       'Prescott Valley, AZ', 'Topeka, KS', 'Macon, GA', 'Tyler, TX',
       'Barnstable Town, MA', 'Daphne, AL', 'Bellingham, WA',
       'Burlington, VT', 'Rochester, MN', 'Lafayette, IN',
       'Champaign, IL', 'Medford, OR', 'Lebanon, NH',
       'Charlottesville, VA', 'Lake Charles, LA', 'Las Cruces, NM',
       'Chico, CA', 'Hilton Head Island, SC', 'Athens, GA',
       'Lake Havasu City, AZ', 'Columbia, MO', 'Springfield, IL',
       'Houma, LA', 'Monroe, LA', 'Elkhart, IN', 'Johnson City, TN',
       'Yuma, AZ', 'Gainesville, GA', 'Jacksonville, NC', 'Florence, SC',
       'Hilo, HI', 'St. Cloud, MN', 'Racine, WI', 'Bend, OR',
       'Saginaw, MI', 'Warner Robins, GA', 'Terre Haute, IN',
       'Torrington, CT', 'Punta Gorda, FL', 'Billings, MT', 'Redding, CA',
       'Kingston, NY', 'Panama City, FL', 'Joplin, MO', 'Dover, DE',
       'El Centro, CA', 'Jackson, TN', 'Yuba City, CA',
       'Bowling Green, KY', 'St. George, UT', 'Muskegon, MI',
       'Abilene, TX', 'Iowa City, IA', 'Auburn, AL', 'Midland, TX',
       'Bloomington, IL', 'Hattiesburg, MS', 'Oshkosh, WI',
       'Eau Claire, WI', 'Greenville, NC', 'Burlington, NC',
       'Waterloo, IA', "Coeur d'Alene, ID", 'East Stroudsburg, PA',
       'Pueblo, CO', 'Blacksburg, VA', 'Wausau, WI', 'Kahului, HI',
       'Janesville, WI', 'Tupelo, MS', 'Bloomington, IN', 'Odessa, TX',
       'Jackson, MI', 'State College, PA', 'Sebastian, FL', 'Madera, CA',
       'Decatur, AL', 'Chambersburg, PA', 'Vineland, NJ',
       'Idaho Falls, ID', 'Grand Junction, CO', 'Elizabethtown, KY',
       'Niles, MI', 'Monroe, MI', 'Santa Fe, NM', 'Concord, NH',
       'Alexandria, LA', 'Traverse City, MI', 'Bangor, ME',
       'Homosassa Springs, FL', 'Hanford, CA', 'Jefferson City, MO',
       'Florence, AL', 'Dothan, AL', 'London, KY', 'Albany, GA',
       'Ottawa, IL', 'Sioux City, IA', 'Wichita Falls, TX',
       'Texarkana, TX', 'Valdosta, GA', 'Logan, UT', 'Flagstaff, AZ',
       'Rocky Mount, NC', 'Pottsville, PA', 'Dalton, GA', 'Lebanon, PA',
       'Morristown, TN', 'Winchester, VA', 'Wheeling, WV',
       'Morgantown, WV', 'La Crosse, WI', 'Napa, CA', 'Rapid City, SD',
       'Sumter, SC', 'Eureka, CA', 'Springfield, OH', 'Harrisonburg, VA',
       'Battle Creek, MI', 'Sherman, TX', 'Manhattan, KS',
       'Carbondale, IL', 'Johnstown, PA', 'Jonesboro, AR', 'Bismarck, ND',
       'Hammond, LA', 'Pittsfield, MA', 'Mount Vernon, WA',
       'Jamestown, NY', 'The Villages, FL', 'Albany, OR',
       'Glens Falls, NY', 'Lawton, OK', 'Cleveland, TN',
       'Sierra Vista, AZ', 'Ames, IA', 'Mansfield, OH', 'Staunton, VA',
       'Augusta, ME', 'Altoona, PA', 'New Bern, NC', 'Farmington, NM',
       'St. Joseph, MO', 'San Angelo, TX', 'Wenatchee, WA',
       'Owensboro, KY', 'Holland, MI', 'Lumberton, NC', 'Lawrence, KS',
       'Goldsboro, NC', 'Watertown, NY', 'Sheboygan, WI', 'Weirton, WV',
       'Missoula, MT', 'Wooster, OH', 'Bozeman, MT', 'Anniston, AL',
       'Beckley, WV', 'Williamsport, PA', 'Brunswick, GA',
       'California, MD', 'Twin Falls, ID', 'Cookeville, TN', 'Muncie, IN',
       'Michigan City, IN', 'Roseburg, OR', 'Lewiston, ME',
       'Longview, WA', 'Kankakee, IL', 'Bluefield, WV', 'Show Low, AZ',
       'Richmond, KY', 'Tullahoma, TN', 'Whitewater, WI', 'Ithaca, NY',
       'Grand Forks, ND', 'Decatur, IL', 'LaGrange, GA', 'Bay City, MI',
       'Fond du Lac, WI', 'Gettysburg, PA', 'Gadsden, AL',
       'Kalispell, MT', 'Danville, VA', 'Mankato, MN', 'Lima, OH',
       'Truckee, CA', 'Sebring, FL', 'Cheyenne, WY', 'Hot Springs, AR',
       'Shelby, NC', 'Dubuque, IA', 'Meridian, MS', 'Pinehurst, NC',
       'Paducah, KY', 'Victoria, TX', 'Rome, GA', 'Sevierville, TN',
       'Moses Lake, WA', 'Ashtabula, OH', 'Cape Girardeau, MO',
       'Albertville, AL', 'Fairbanks, AK', 'Brainerd, MN',
       'Cumberland, MD', 'Ocean City, NJ', 'Corvallis, OR',
       'Pocatello, ID', 'Corning, NY', 'Sunbury, PA', 'Ukiah, CA',
       'Hermiston, OR', 'Clarksburg, WV', 'Parkersburg, WV',
       'Beaver Dam, WI', 'Pine Bluff, AR', 'Grants Pass, OR',
       'Cullman, AL', 'Lufkin, TX', 'Zanesville, OH', 'New Castle, PA',
       'Oak Harbor, WA', 'Orangeburg, SC', 'Watertown, WI',
       'Meadville, PA', 'Elmira, NY', 'Great Falls, MT',
       'Russellville, AR', 'Indiana, PA', 'Midland, MI', 'Kokomo, IN',
       'Bloomsburg, PA', 'Helena, MT', 'Key West, FL', 'Talladega, AL',
       'Stillwater, OK', 'Columbus, IN', 'Athens, TX', 'Centralia, WA',
       'Manitowoc, WI', 'Hinesville, GA', 'DuBois, PA', 'Warsaw, IN',
       'Statesboro, GA', 'Casper, WY', 'Wilson, NC',
       'Glenwood Springs, CO', 'Seneca, SC', 'Minot, ND',
       'Grand Island, NE', 'Port Angeles, WA', 'Auburn, NY',
       'Huntsville, TX', 'Keene, NH', 'Heber, UT', 'Quincy, IL',
       'Findlay, OH', 'Frankfort, KY', 'Danville, IL', 'Aberdeen, WA',
       'Wisconsin Rapids, WI', 'Jefferson, GA', 'Kapaa, HI',
       'Palatka, FL', 'Shawnee, OK', 'Stevens Point, WI',
       'Greeneville, TN', 'Greenwood, SC', 'Lake City, FL',
       'Klamath Falls, OR', 'Morehead City, NC', 'Clearlake, CA',
       'Alamogordo, NM', 'Roanoke Rapids, NC', 'Muskogee, OK',
       'Faribault, MN', 'Richmond, IN', 'Marquette, MI',
       'Mount Pleasant, MI', 'Baraboo, WI', 'Jasper, AL', 'Roswell, NM',
       'Shelton, WA', 'Dublin, GA', 'Nacogdoches, TX', 'Coos Bay, OR',
       'Martinsville, VA', 'Rexburg, ID', 'Lewiston, ID', 'Laconia, NH',
       'Georgetown, SC', 'Athens, OH', 'Sanford, NC', 'Enid, OK',
       'Walla Walla, WA', 'Albemarle, NC', 'Hutchinson, KS', 'Hudson, NY',
       'Starkville, MS', 'Carlsbad, NM', 'Gillette, WY', 'Rutland, VT',
       'Crossville, TN', 'Granbury, TX', 'Sayre, PA', 'Salina, KS',
       'Marietta, OH', 'Fergus Falls, MN', 'Oneonta, NY', 'Columbus, MS',
       'Ardmore, OK', 'Fernley, NV', 'Carson City, NV', 'Eagle Pass, TX',
       'Calhoun, GA', 'Cullowhee, NC', 'Kearney, NE', 'Fairmont, WV',
       'Gaffney, SC', 'Picayune, MS', 'Branson, MO', 'Cedar City, UT',
       'Waycross, GA', 'Oxford, MS', 'Jasper, IN', 'Edwards, CO',
       'Durango, CO', 'Kinston, NC', 'Batesville, AR', 'Elko, NV',
       'Danville, KY', 'St. Marys, GA', 'Boone, NC', 'Warrensburg, MO',
       'Gloversville, NY', 'Fort Leonard Wood, MO', 'Elizabeth City, NC',
       'Athens, TN', 'Enterprise, AL', 'Ashland, OH', 'Milledgeville, GA',
       'Kerrville, TX', 'Bartlesville, OK', 'Corsicana, TX',
       'Rochelle, IL', 'Pahrump, NV', 'Winona, MN', 'Newport, OR',
       'Amsterdam, NY', 'Gardnerville Ranchos, NV', 'Fort Polk South, LA',
       'Ca-Â¦on City, CO', 'New Castle, IN', 'Clovis, NM', 'Norfolk, NE',
       'Ruston, LA', 'Pullman, WA', 'Del Rio, TX', 'Blackfoot, ID',
       'Red Wing, MN', 'Nogales, AZ', 'Tahlequah, OK', 'Montrose, CO',
       'Cortland, NY', 'Sandpoint, ID', 'Bardstown, KY', 'Wapakoneta, OH',
       'Bemidji, MN', 'Durant, OK', 'Cornelia, GA', 'Burlington, IA',
       'Menomonie, WI', 'Shawano, WI', 'Washington, NC', 'Freeport, IL',
       'Rolla, MO', 'Ellensburg, WA', 'Ponca City, OK', 'Muscatine, IA',
       'Lewisburg, PA', 'Auburn, IN', 'Duncan, OK', 'Sedalia, MO',
       'Rock Springs, WY', 'Stephenville, TX', 'Bucyrus, OH',
       'El Campo, TX', 'Gainesville, TX', 'Astoria, OR',
       'Marshalltown, IA', 'Big Rapids, MI', 'Austin, MN', 'Moscow, ID',
       'Clewiston, FL', 'Riverton, WY', 'Pittsburg, KS', 'Williston, ND',
       'Safford, AZ', 'Brownwood, TX', 'Crawfordsville, IN',
       'Lock Haven, PA', 'Easton, MD', 'Laramie, WY', 'Murray, KY',
       'Fort Dodge, IA', 'Dyersburg, TN', 'Kill Devil Hills, NC',
       'DeRidder, LA', 'Bay City, TX', 'North Platte, NE', 'Lebanon, MO',
       'Brenham, TX', 'Vernal, UT', 'Bonham, TX', 'Butte, MT',
       'Emporia, KS', 'Jackson, WY', 'Big Spring, TX', 'Watertown, SD',
       'Angola, IN', 'Dixon, IL', 'Taos, NM', 'Brookings, SD',
       'Dickinson, ND', 'Pella, IA', 'Troy, AL', 'Susanville, CA',
       'Martin, TN', 'Cambridge, MD', 'Coffeyville, KS', 'Kingsville, TX',
       'Breckenridge, CO', 'Kirksville, MO', 'Hays, KS',
       'Mountain Home, ID', 'Macomb, IL', 'Fredericksburg, TX',
       'The Dalles, OR', 'La Grande, OR', 'Great Bend, KS',
       'Spearfish, SD', 'Fallon, NV', 'Hailey, ID',
       'Steamboat Springs, CO', 'Prineville, OR', 'Rockport, TX',
       'Hood River, OR', 'Sterling, CO', 'Jamestown, ND', 'Portales, NM',
       'Brownsville, TN', 'Snyder, TX', 'Vermillion, SD'], dtype=object)

In [35]:
df_long_clean = df_long.dropna(subset=["Rent", "StateName"])

In [37]:
df_long_clean["RegionName"].unique()

array(['New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Dallas, TX',
       'Houston, TX', 'Washington, DC', 'Philadelphia, PA', 'Miami, FL',
       'Atlanta, GA', 'Boston, MA', 'Phoenix, AZ', 'San Francisco, CA',
       'Riverside, CA', 'Detroit, MI', 'Seattle, WA', 'Minneapolis, MN',
       'San Diego, CA', 'Tampa, FL', 'Denver, CO', 'Baltimore, MD',
       'St. Louis, MO', 'Orlando, FL', 'Charlotte, NC', 'San Antonio, TX',
       'Portland, OR', 'Sacramento, CA', 'Pittsburgh, PA',
       'Cincinnati, OH', 'Austin, TX', 'Las Vegas, NV', 'Kansas City, MO',
       'Columbus, OH', 'Indianapolis, IN', 'Cleveland, OH',
       'San Jose, CA', 'Nashville, TN', 'Virginia Beach, VA',
       'Providence, RI', 'Jacksonville, FL', 'Milwaukee, WI',
       'Oklahoma City, OK', 'Raleigh, NC', 'Memphis, TN', 'Richmond, VA',
       'Louisville, KY', 'New Orleans, LA', 'Salt Lake City, UT',
       'Hartford, CT', 'Buffalo, NY', 'Birmingham, AL', 'Rochester, NY',
       'Grand Rapids, MI', 'Tucson, AZ', 'Urban Honolulu, HI',
       'Tulsa, OK', 'Fresno, CA', 'Worcester, MA', 'Omaha, NE',
       'Bridgeport, CT', 'Greenville, SC', 'Albuquerque, NM',
       'Bakersfield, CA', 'Albany, NY', 'Knoxville, TN',
       'Baton Rouge, LA', 'McAllen, TX', 'New Haven, CT', 'El Paso, TX',
       'Allentown, PA', 'Oxnard, CA', 'Columbia, SC', 'North Port, FL',
       'Dayton, OH', 'Charleston, SC', 'Greensboro, NC', 'Stockton, CA',
       'Cape Coral, FL', 'Boise City, ID', 'Colorado Springs, CO',
       'Little Rock, AR', 'Lakeland, FL', 'Akron, OH', 'Des Moines, IA',
       'Poughkeepsie, NY', 'Ogden, UT', 'Madison, WI', 'Winston, NC',
       'Deltona, FL', 'Provo, UT', 'Toledo, OH', 'Wichita, KS',
       'Durham, NC', 'Augusta, GA', 'Palm Bay, FL', 'Harrisburg, PA',
       'Spokane, WA', 'Scranton, PA', 'Chattanooga, TN', 'Modesto, CA',
       'Lancaster, PA', 'Portland, ME', 'Lansing, MI', 'Fayetteville, AR',
       'Fayetteville, NC', 'Lexington, KY', 'Pensacola, FL',
       'Santa Rosa, CA', 'Reno, NV', 'Huntsville, AL',
       'Port St. Lucie, FL', 'Myrtle Beach, SC', 'Springfield, MO',
       'Visalia, CA', 'Killeen, TX', 'Asheville, NC', 'York, PA',
       'Vallejo, CA', 'Santa Maria, CA', 'Salinas, CA', 'Salem, OR',
       'Mobile, AL', 'Reading, PA', 'Corpus Christi, TX',
       'Manchester, NH', 'Fort Wayne, IN', 'Gulfport, MS',
       'Salisbury, MD', 'Flint, MI', 'Canton, OH', 'Savannah, GA',
       'Anchorage, AK', 'Beaumont, TX', 'Shreveport, LA', 'Trenton, NJ',
       'Montgomery, AL', 'Davenport, IA', 'Tallahassee, FL', 'Eugene, OR',
       'Naples, FL', 'Ann Arbor, MI', 'Ocala, FL', 'Fort Collins, CO',
       'Rockford, IL', 'Gainesville, FL', 'Boulder, CO', 'Columbus, GA',
       'South Bend, IN', 'Lubbock, TX', 'Clarksville, TN', 'Roanoke, VA',
       'Evansville, IN', 'Kennewick, WA', 'Hagerstown, MD', 'Olympia, WA',
       'Wilmington, NC', 'San Luis Obispo, CA', 'Crestview, FL',
       'Merced, CA', 'Waco, TX', 'Atlantic City, NJ', 'Bremerton, WA',
       'Santa Cruz, CA', 'Norwich, CT', 'College Station, TX',
       'Kalamazoo, MI', 'Lynchburg, VA', 'Prescott Valley, AZ',
       'Topeka, KS', 'Daphne, AL', 'Bellingham, WA', 'Rochester, MN',
       'Lafayette, IN', 'Champaign, IL', 'Medford, OR',
       'Charlottesville, VA', 'Las Cruces, NM', 'Chico, CA',
       'Hilton Head Island, SC', 'Athens, GA', 'Lake Havasu City, AZ',
       'Columbia, MO', 'Gainesville, GA', 'Jacksonville, NC', 'Bend, OR',
       'Torrington, CT', 'Punta Gorda, FL', 'Billings, MT',
       'Panama City, FL', 'Dover, DE', 'Abilene, TX', 'Greenville, NC',
       'East Stroudsburg, PA', 'Bloomington, IN', 'Sebastian, FL',
       'Chambersburg, PA', 'Idaho Falls, ID', 'Grand Junction, CO',
       'Wichita Falls, TX', 'Winchester, VA', 'Harrisonburg, VA',
       'Manhattan, KS', 'Lawton, OK', 'Missoula, MT', 'California, MD',
       'Cheyenne, WY', 'Oak Harbor, WA', 'Hinesville, GA',
       'Enterprise, AL', 'Springfield, MA', 'Cedar Rapids, IA',
       'Warner Robins, GA', 'Youngstown, OH', 'Greeley, CO',
       'St. George, UT', 'Pueblo, CO', 'Peoria, IL', 'Fort Smith, AR',
       'Brownsville, TX', 'Sumter, SC', 'Pinehurst, NC', 'Duluth, MN',
       'Redding, CA', 'St. Cloud, MN', 'Iowa City, IA', 'Spartanburg, SC',
       'Lebanon, NH', 'Yuba City, CA', 'Burlington, NC', 'Casper, WY',
       'Syracuse, NY', 'Lincoln, NE', 'Sioux Falls, SD', 'Corvallis, OR',
       'Santa Fe, NM', 'Moses Lake, WA', 'Jonesboro, AR',
       'Glenwood Springs, CO', 'Granbury, TX', 'Amarillo, TX',
       'Lake Charles, LA', 'Homosassa Springs, FL', 'Napa, CA',
       'Jackson, MS', 'Lafayette, LA', 'Erie, PA', 'Tuscaloosa, AL',
       'Fargo, ND', 'Macon, GA', 'Tyler, TX', 'Springfield, IL',
       'Johnson City, TN', 'Kingston, NY', 'Auburn, AL', 'Waterloo, IA',
       'Jackson, MI', 'Augusta, ME', 'Midland, TX', 'Longview, TX',
       'Morgantown, WV', 'Burlington, VT', 'Bloomington, IL',
       'Huntington, WV', 'Charleston, WV', 'Oshkosh, WI', 'Lawrence, KS',
       'Laredo, TX', 'Albany, GA', 'San Angelo, TX', "Coeur d'Alene, ID",
       'Hutchinson, KS', 'Muncie, IN', 'Kokomo, IN', 'Bismarck, ND',
       'Great Falls, MT', 'Bowling Green, KY', 'Rapid City, SD',
       'Odessa, TX', 'Carbondale, IL', 'Ames, IA', 'Sebring, FL',
       'Key West, FL', 'Frankfort, KY', 'Bangor, ME', 'Grand Forks, ND',
       'Binghamton, NY', 'Warrensburg, MO', 'Flagstaff, AZ',
       'Staunton, VA', 'Johnstown, PA', 'Niles, MI', 'Wheeling, WV',
       'Mount Vernon, WA', 'Columbus, IN', 'Blacksburg, VA', 'Racine, WI',
       'Ithaca, NY', 'Heber, UT', 'Barnstable Town, MA',
       'State College, PA', 'Richmond, KY', 'Florence, SC', 'Sherman, TX',
       'Valdosta, GA', 'Rock Springs, WY', 'Bloomsburg, PA',
       'Stillwater, OK', 'Cleveland, TN', 'Williston, ND', 'Kahului, HI',
       'Florence, AL', 'Minot, ND', 'Green Bay, WI', 'Terre Haute, IN',
       'Lebanon, PA', 'Bozeman, MT', 'Durango, CO', 'Hickory, NC',
       'Albany, OR', 'Rexburg, ID', 'Fernley, NV', 'Saginaw, MI',
       'Pittsfield, MA', 'Wenatchee, WA', 'Kankakee, IL', 'Ruston, LA',
       'New Bern, NC', 'Fairbanks, AK', 'Muskegon, MI', 'Monroe, MI',
       'Hilo, HI', 'St. Joseph, MO', 'Clarksburg, WV', 'Elkhart, IN',
       'Cookeville, TN', 'Hammond, LA', 'Morehead City, NC', 'Oxford, MS',
       'Joplin, MO', 'Jackson, TN', 'Texarkana, TX', 'LaGrange, GA',
       'Laramie, WY', 'Kingsport, TN', 'Yuma, AZ', 'Tupelo, MS',
       'La Crosse, WI', 'Brunswick, GA', 'Whitewater, WI', 'Dubuque, IA',
       'Statesboro, GA', 'North Platte, NE', 'Yakima, WA', 'Appleton, WI',
       'Hattiesburg, MS', 'Eau Claire, WI', 'Janesville, WI',
       'Elizabethtown, KY', 'The Villages, FL', 'Michigan City, IN',
       'Tullahoma, TN', 'Kalispell, MT', 'Truckee, CA', 'Hot Springs, AR',
       'Pocatello, ID', 'Keene, NH', 'Clovis, NM', 'Wausau, WI',
       'Concord, NH', 'Logan, UT', 'Rocky Mount, NC', 'Longview, WA',
       'Fond du Lac, WI', 'Stevens Point, WI', 'Clearlake, CA',
       'Walla Walla, WA', 'Hudson, NY', 'Decatur, AL', 'Watertown, NY',
       'Victoria, TX', 'Watertown, WI', 'Jefferson, GA', 'Cedar City, UT',
       'Ellensburg, WA', 'Utica, NY', 'Houma, LA', 'Monroe, LA',
       'Traverse City, MI', 'Eureka, CA', 'Battle Creek, MI',
       'Sierra Vista, AZ', 'Midland, MI', 'Madera, CA', 'Hanford, CA',
       'Pottsville, PA', 'Springfield, OH', 'Twin Falls, ID',
       'Bay City, MI', 'Cape Girardeau, MO', 'Alamogordo, NM',
       'Roswell, NM', 'Enid, OK', 'St. Marys, GA', 'Weirton, WV',
       'Wooster, OH', 'Rome, GA', 'Aberdeen, WA', 'Sheboygan, WI',
       'Findlay, OH', 'Danville, IL', 'Elizabeth City, NC', 'Winona, MN',
       'Pullman, WA', 'Seneca, SC', 'Muskogee, OK', 'Carson City, NV',
       'Brookings, SD', 'Morristown, TN', 'Lewiston, ME', 'Mankato, MN',
       'Hermiston, OR', 'Athens, TX', 'Huntsville, TX', 'Jamestown, ND',
       'Dothan, AL', 'Sioux City, IA', 'Roseburg, OR', 'Warsaw, IN',
       'Richmond, IN', 'Pahrump, NV', 'Goldsboro, NC', 'Decatur, IL',
       'Cumberland, MD', 'Talladega, AL', 'Edwards, CO', 'Corsicana, TX',
       'Gardnerville Ranchos, NV', 'Menomonie, WI', 'Austin, MN',
       'Shelby, NC', 'Russellville, AR', 'Bartlesville, OK',
       'Cortland, NY', 'Rolla, MO', 'Jefferson City, MO', 'Dalton, GA',
       'Altoona, PA', 'Grants Pass, OR', 'Shawnee, OK', 'Kerrville, TX',
       'Fort Polk South, LA', 'Stephenville, TX', 'Farmington, NM',
       'Anniston, AL', 'Zanesville, OH', 'Helena, MT',
       'Klamath Falls, OR', 'Athens, OH', 'Fort Leonard Wood, MO',
       'Montrose, CO', 'Butte, MT', 'El Centro, CA', 'Alexandria, LA',
       'Mansfield, OH', 'Williamsport, PA', 'Bluefield, WV',
       'New Castle, PA', 'Centralia, WA', 'Wilson, NC', 'Palatka, FL',
       'Lake City, FL', 'Salina, KS', 'Branson, MO', 'Athens, TN',
       'Astoria, OR', 'Pittsburg, KS', 'Lock Haven, PA', 'Portales, NM',
       'Sanford, NC', 'Gillette, WY', 'Sevierville, TN', 'Jasper, AL',
       'Mount Pleasant, MI', 'Columbus, MS', 'Kirksville, MO',
       'Vineland, NJ', 'Marquette, MI', 'Starkville, MS', 'Boone, NC',
       'Bay City, TX', 'Danville, VA', 'Orangeburg, SC', 'Cullowhee, NC',
       'Corning, NY', 'Baraboo, WI', 'Gaffney, SC', 'Moscow, ID',
       'Beckley, WV', 'Sunbury, PA', 'Greenwood, SC', 'Nacogdoches, TX',
       'Carlsbad, NM', 'Crawfordsville, IN', 'Breckenridge, CO',
       'Owensboro, KY', 'Beaver Dam, WI', 'Shelton, WA', 'Calhoun, GA',
       'Riverton, WY', 'Fredericksburg, TX', 'Meridian, MS',
       'Jackson, WY', 'Elmira, NY', 'Manitowoc, WI', 'Laconia, NH',
       'Georgetown, SC', 'Oneonta, NY', 'Ardmore, OK', 'Newport, OR',
       'Blackfoot, ID', 'Ottawa, IL', 'Lima, OH', 'Quincy, IL',
       'Freeport, IL', 'Pella, IA', 'Lumberton, NC', 'Ukiah, CA',
       'Grand Island, NE', 'Elko, NV', 'Big Rapids, MI', 'Ashland, OH',
       'Milledgeville, GA', 'Auburn, NY', 'Eagle Pass, TX', 'Auburn, IN',
       'Emporia, KS', 'Mountain Home, ID', 'Jamestown, NY',
       'Faribault, MN', 'Marietta, OH', 'Parkersburg, WV',
       'Albemarle, NC', 'Tahlequah, OK', 'Murray, KY', 'Brenham, TX',
       'La Grande, OR', 'Holland, MI', 'Gettysburg, PA',
       'Albertville, AL', 'Ocean City, NJ', 'DuBois, PA',
       'Greeneville, TN', 'Lewiston, ID', 'Crossville, TN',
       'Ca-Â¦on City, CO', 'New Castle, IN', 'Norfolk, NE', 'Del Rio, TX',
       'Red Wing, MN', 'Bemidji, MN', 'Shawano, WI', 'Duncan, OK',
       'El Campo, TX', 'Gainesville, TX', 'Marshalltown, IA',
       'Fort Dodge, IA', 'DeRidder, LA', 'Bonham, TX', 'Big Spring, TX',
       'Taos, NM', 'Kingsville, TX', 'The Dalles, OR', 'Rockport, TX',
       'Ashtabula, OH', 'Cullman, AL', 'Wisconsin Rapids, WI',
       'Kapaa, HI', 'Coos Bay, OR', 'Sayre, PA', 'Gloversville, NY',
       'Durant, OK', 'Easton, MD', 'Vernal, UT', 'Dickinson, ND',
       'Great Bend, KS', 'Fallon, NV', 'Steamboat Springs, CO',
       'Hood River, OR', 'Sterling, CO', 'Brownsville, TN', 'London, KY',
       'Glens Falls, NY', 'Show Low, AZ', 'Gadsden, AL', 'Paducah, KY',
       'Brainerd, MN', 'Pine Bluff, AR', 'Lufkin, TX', 'Meadville, PA',
       'Indiana, PA', 'Port Angeles, WA', 'Roanoke Rapids, NC',
       'Dublin, GA', 'Martinsville, VA', 'Rutland, VT',
       'Fergus Falls, MN', 'Kearney, NE', 'Fairmont, WV', 'Picayune, MS',
       'Waycross, GA', 'Jasper, IN', 'Kinston, NC', 'Batesville, AR',
       'Danville, KY', 'Rochelle, IL', 'Amsterdam, NY', 'Nogales, AZ',
       'Sandpoint, ID', 'Bardstown, KY', 'Wapakoneta, OH', 'Cornelia, GA',
       'Burlington, IA', 'Washington, NC', 'Ponca City, OK',
       'Muscatine, IA', 'Lewisburg, PA', 'Sedalia, MO', 'Bucyrus, OH',
       'Clewiston, FL', 'Safford, AZ', 'Brownwood, TX', 'Dyersburg, TN',
       'Kill Devil Hills, NC', 'Lebanon, MO', 'Watertown, SD',
       'Angola, IN', 'Dixon, IL', 'Troy, AL', 'Susanville, CA',
       'Martin, TN', 'Cambridge, MD', 'Coffeyville, KS', 'Hays, KS',
       'Macomb, IL', 'Spearfish, SD', 'Hailey, ID', 'Prineville, OR',
       'Snyder, TX', 'Vermillion, SD'], dtype=object)

In [ ]:
S